body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8f9ff;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

* {
  transition: 0.2s ease;
}
